<header class="header">
	<div class="header__left">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item"><a class="nav__link" href="#">Головна</a></li>
				<li class="nav__item">
					<a class="nav__link has-subnav" href="#">Статті</a>
					<ul class="subnav">
						<li>
							<a class="subnav__link" href="#">Створення сайтів</a>
						</li>
						<li>
							<a class="subnav__link" href="#">Інтернет маркетинг</a>
						</li>
						<li>
							<a class="subnav__link" href="#">Просування відео</a>
						</li>
					</ul>
				</li>
				<li class="nav__item"><a class="nav__link" href="#">Про мене</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Реклама</a></li>
			</ul>
		</nav>
	</div>

	<div class="header__right">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="#">Профіль</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#">Вийти</a>
				</li>
			</ul>
		</nav>
		<form class="search" action="/" method="post">
			<input class="search__input" type="text" placeholder="Пошук по блогу" />
		</form>
	</div>
</header>
